.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); /* Adjusted height minus header height */
    background-color: #e6f7ff;
}


.title-container {
    text-align: center;
    margin-bottom: 10px; /* Reduced margin */
}


.title-container h1 {
    font-size: 2.5em; /* Larger font size */
    margin-bottom: 0.5em; /* Adjusted margin */
    /* ... other styles ... */
}

.slogan {
    font-style: italic;
    color: #0050b3;
}

.button-container {
    display: flex;
    flex-direction: row; /* Buttons side by side */
    justify-content: center;
    gap: 20px; 
    width: auto; 
    padding: 20px; 
}

.button-container button.action-button {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #0056b3; /* Darker blue border */
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #007bff; /* Blue background */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container button.action-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

.create-button {
    background-color: #28a745; 
    border-color: #218838; 
}

.create-button:hover {
    background-color: #218838; 
}

.join-button {
    background-color: #17a2b8; 
    border-color: #117a8b; 
}

.join-button:hover {
    background-color: #117a8b;
}
