.join-quiz-container {
    background-color: white; /* White background for the quiz container */
    color: #333; /* Dark text for contrast */
    max-width: 600px; /* Limit the width */
    margin: 20px auto; /* Center the container and add some margin on top and bottom */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .join-quiz-container h2 {
    color: #1f78b4; /* Blue title */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .join-quiz-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .join-quiz-container form label {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .join-quiz-container form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .join-quiz-container form button.join-button {
    background-color: #007bff; /* Vibrant blue for buttons */
    color: white;
    border: 2px solid #0056b3; /* Border color */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .join-quiz-container form button.join-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .join-quiz-container form button.join-button:active {
    transform: scale(0.98); /* Slight scale down effect */
    font-weight: bold; /* Make text bold */
  }
  
  .error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
  }
  