/* Profile.css */

/* Center the profile page content */
.profile-container {
    background-color: white; /* White background for the profile container */
    color: #333; /* Dark text for contrast */
    max-width: 600px; /* Limit the width */
    margin: 20px auto; /* Center the container and add some margin on top and bottom */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Style the user's profile picture */
  .profile-picture {
    max-width: 200px;
    border-radius: 50%; /* Make it circular */
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  
  /* Style the username */
  .username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid #3498db; /* Add border */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* Style the past quizzes section */
  .past-quizzes-container {
    margin-top: 20px;
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
    max-height: 300px; /* Max height for scrollable container */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds max height */
  }
  
  /* Style the "Past Quizzes" title */
  .past-quizzes-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style the quiz items */
  .quiz-item {
    list-style-type: none;
    margin: 5px 0;
    padding: 10px;
    background-color: #3498db; /* Blue background */
    color: white; /* White text */
    font-weight: bold; /* Make font bolder */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add shadow */
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center;
    max-width: 95%; /* Limit the maximum width */
    margin-left: auto; /* Center the item horizontally */
    margin-right: auto;  /* Slightly left align the quiz list */
  }
  
  /* Style the logout button */
  .logout-button {
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #d32f2f; /* Darker red color on hover */
  }
